@CHARSET "ISO-8859-1";

.container{
	width : 100%; 
}

aside{
	width : 20%; 
	float: left;
	margin-right: 2.5%; 
	
}

.well{
	width: 77.5%; 
	float: left; 
}

#myCarousel{
	width: 77.5%; 
	heigt: 50%; 
	float: left; 
}

#footer{
	margin-top: 2.5%; 
	width: 100%; 
}

#titulo{
	float: left; 
	width: 150px; 
	heigth: 150px; 
	margin-right: 40%; 
}

#autor{
	float: left; 
	width: 150px; 
	height: 150px; 
	margin-right:40%; 
}

#imglib{
	width: 30%;
	heigth: 25%; 
}

#descripcion{
	width: 300px; 
	margin-top: 30px; 
}