@CHARSET "ISO-8859-1";

.container{
	width : 100%; 
}

aside{
	width : 20%; 
	float: left;
	margin-right: 2.5%; 
	
}

.well{
	width: 77.5%; 
	float: left; 
}

#myCarousel{
	width: 77.5%; 
	heigt: 50%; 
	float: left; 
}

#footer{
	margin-top: 2.5%; 
	width: 100%; 
}

#titulo{
	float: left;
}

#autor{
	float: left; 
}

#imglib{
	
	float: left;
	height: 50%;
	width: 30%; 
}

#descripcion{
	float:left; 
	margin-top: 5%; 
	margin-left: 1%;
	margin-rigth: 5%; 
}