@CHARSET "ISO-8859-1";


aside{
	width : 20%; 
	float: left;
	margin-right: 2.5%; 
	
}

.well{
	width: 77.5%; 
	float: left; 
}

#myCarousel{
	width: 70%; 
	heigt: 50%; 
	float: left; 
}

#footer{
	margin-top: 2.5%; 
	width: 100%; 
}

#titulo{
	float: left;
}

#autor{
	float: left; 
}

#imglib{
	
	float: left;
	height: 50%;
	width: 30%; 
}

#descripcion{
	float:left; 
	margin-top: 5%; 
	margin-left: 1%;
	margin-rigth: 5%; 
}

.table tbody tr > td.Entregado{
  background-color: #dff0d8; /*override the rules of bootstrap y cambiar color solo a td */
}

.table tbody tr > td.noEntregado{
  background-color: #ff9999;
}